[submodule "build/ansible"]
	path = build/ansible
	url = https://github.com/modular-magician/ansible_collections_google.git
	branch = codegen-sha-d296d9df
[submodule "build/terraform"]
	path = build/terraform
	url = https://github.com/modular-magician/terraform-provider-google.git
	branch = codegen-sha-d296d9df
[submodule "build/terraform-beta"]
	path = build/terraform-beta
	url = https://github.com/modular-magician/terraform-provider-google-beta.git
	branch = codegen-sha-d296d9df
[submodule "build/inspec"]
	path = build/inspec
	url = https://github.com/modular-magician/inspec-gcp.git
	branch = codegen-sha-d296d9df
[submodule "build/terraform-mapper"]
	path = build/terraform-mapper
	url = https://github.com/modular-magician/terraform-google-conversion.git
	branch = codegen-sha-d296d9df
